    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem; 
    
    }
  }

#home-button {
    background-color: cadetblue;
    color: whitesmoke;
    border-color: cadetblue;
  }

  #home-button:hover {
    background-color: aquamarine;
    color: black;
    border-color: aquamarine;
  }

  #biopic {
    padding-right: 10px;
    float: left;

}

#bus-button {
  background-color: mediumaquamarine;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-color: white;
  border-width: 5px;
      
}

#bus-button:hover {
    background-color: greenyellow;
    color: black;
    border-color:white;
}

#eye-button {
  background-color: mediumaquamarine;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-color: white;
  border-width: 5px;
}

#eye-button:hover {
    background-color: greenyellow;
    color: black;
    border-color:white;
}

#pacmen-button {
  background-color: mediumaquamarine;
  text-align: center;
  margin-left: left;
  margin-right: auto;
  border-color: white;
  border-width: 5px;
  float: center;
    
}

#pacmen-button:hover {
    background-color: greenyellow;
    color: black;
    border-color:white;
}

#pacmenpic {
    margin-left: auto;
    margin-right: auto;
}

.title{
    position: relative;
    text-align: center;
}

#demo-button {
  background-color: cadetblue;
    text-align: center;
    margin-left: left;
    margin-right: auto;
    border-color: white;
    border-width: 5px;
} 

#demo-button:hover {
  background-color:aquamarine;
  color: black;
  border-color:white;
}

#contactbottom {
  margin-top: 50px;
}

a:hover {
  text-decoration-style: wavy; 
  text-decoration-color: mediumturquoise; 
}

.bottomcolor {
  background-color: mintcream;
  color: black;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.title-color {
  background-color: mintcream;
}

